body {
    background-color: rgb(20, 57, 97);
    margin: 0;
}

.border {
    margin: 1% 25%;
}

.main {
    background-color: rgb(255, 123, 0);
    padding: 10px;

}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
  }
  
  th, td {
    padding: 15px;
  }

  .table {
    overflow-x:auto;
  }

  /*iphone 5 and 5s and iphone 6, 7, 8*/
@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
    .border {
        margin: 1% 5%;
    }
    
}
/*iphone X*/
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) {
    .border {
        margin: 1% 5%;
    }
    
}

@media only screen and (min-device-width : 813px) and (max-width: 935px) {
    
}